# requirements.txt
flask
flask-cors
yt-dlp
Pillow
numpy
requests
moviepy
opencv-python-headless
ultralytics>=8.2.0
gunicorn
roboflow

# MoveNet Lightning dependencies
tensorflow>=2.8.0
tensorflow-hub
matplotlib